@{
    ViewData["Title"] = "Top List";
}
@model Bjornroth.Models.ViewModels.SearchViewModel
<head>
</head>

<body>
    <h1>Top List</h1>

   
    @foreach(var search in Model.Movies)
        {
            <p>@Html.DisplayFor(item => search.Title)</p>
        }
    
</body>
</html>
