@{
    ViewData["Title"] = "Home Page";
}

<div class="start-search">
    <h2>SEARCH MOVIE</h2>
    <form>
        <input type="text" id="fname" name="fname" placeholder="Search movie title...." />
    </form>

</div>

