@{
    ViewData["Title"] = "Home Page";
}
@model Bjornroth.Models.ViewModels.StartViewModel



<div class="start-random-page">
    <h1 class="randomized-movie-header"> Randomized Movie Of The Day</h1>
    @for (var i = 0; i < Model.GeneratedMovies.Count; i++)
    {
        <div class="randomized-movies-container">

            <div>
                <img src=@Model.GeneratedMovies[i].Poster />

            </div>

            <div class="randomized-movie-info">
                <h1>@Model.GeneratedMovies[i].Title, @Model.GeneratedMovies[i].Released</h1>
                <p class="p-text">@Model.GeneratedMovies[i].ImdbRating | @Model.GeneratedMovies[i].Runtime | <i>4 Awards</i></p>
                <a href="#" class="read-more">READ MORE</a>
            </div>
        </div>
     }
 
    </div>

