<div class="search-field-and-btn">

    @using (@Html.BeginForm("Index", "SearchResults"))
    {
    <input type="text" id="searchInput" name="searchInput" placeholder="Search movie title...." />

    <input type="submit" value="Search" />
    }
</div>