<div class="search-field-and-btn">

    @using (@Html.BeginForm("Index", "SearchResults"))
     {
        <input type="text" id="searchInput" name="searchInput" placeholder="Search movie title...." />

        <input type="submit" value="Search" />
    }

        <table>
            <thead>
                <tr hidden="hidden">
                    <th>Title</th>
                    <th>Actors</th>
                    <th>Director</th>
                </tr>
            </thead>
            <tbody id="searchBar">

                @foreach (var movie in Model.SearchSuggestions)
                {

                        <tr>



                            <td hidden="hidden"><img src="@movie.Poster" /></td>
                            <td hidden="hidden">@Html.ActionLink($"{@movie.Title}","Index", "SearchResults", new { searchInput = movie.Title }, null )</td>
                            <td hidden="hidden">@movie.imdbRating</td>


                        </tr>
                }





            </tbody>
        </table>
    
</div>