body {
    height: 100vh;
    background-image: url(../images/cinema.jpg);
    background-position: center;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
}

.carousel-sizing, .carousel-item img{
    width: 20vw;
    height: 50vh;
    margin: auto;
}
.carousel-background
{
    background: black;
    opacity: 0.8;
    
    margin-bottom: 0px;


}

.info-inline
{display: inline-block;}
header {
    display: flex;
    padding: 1%;
   
   
}

.search-field-and-btn {
    justify-content: center;
    margin: auto !important;
    display: flex;
    flex: 1;
    
    position: relative;    
}

table {
    z-index: 10;
    background: #313131;
    position: fixed;
    
    flex: 3;
}

table a {
    color: white;
    text-decoration: none;
}

tr:hover {
    background: black;
    color: white;
}

table img {
    width: 30px;
    height: 55px;
}


    .search-field-and-btn input[type=text] {
        padding: 5% !important;
        border-radius: 20px;
        border: 0px;
        box-shadow: 4px;
        display: block;
    }

    .search-field-and-btn input[type=submit] {
        background: transparent;
        border: 0px;
        font-family: 'Arial';
        color: #8D0801;
        font-weight: bold;
    }


.links {
    margin-left: 70%;
    justify-content: right;
    margin: auto;
    flex: 1;
    display: flex;
}

.logo {
    justify-content: left;
    display: flex;
    flex: 1;
    
}

.links ul {
    display: flex;
    justify-content: right;
}

    .links ul li {
        list-style: none;
        margin: 20%
    }

        .links ul li a {
            color: #8D0801;
            font-family: 'Anton', sans-serif;
            text-decoration: none;
            font-size: 200%;
        }

/*CSS FOR FULL MOVIE DETAIL*/

.single-movie-detail {
    display: flex;
    margin: auto;
    width: 50%;
}

.single-movie-detail-text {
    background-color: #000000;
    opacity: 0.8;
    border-radius: 10px;
}

    .single-movie-detail-text h1 {
        font-family: "Anton", sans-serif;
        outline: 1px solid black;
    }

    .single-movie-detail-text ul {
        list-style: none;
        margin-left: 0;
    }

    .single-movie-detail-text li, p, h3 {
        font-family: 'Arial';
    }

.single-movie-detail-img {
    outline: 2px solid black;
    height: 30vh;
}

    .single-movie-detail-img img {
        object-fit: fill;
    }
/*-----------------------------------*/
/*CSS FOR RANDOMIZED MOVIES */

.randomized-movies-container {
    justify-content: center;
    text-align: center;
    display: flex;
    background: #000000;
    opacity: 0.8;
    margin: 10% 20% 0 20%
}

    .randomized-movies-container img {
        height: 100%;
    }


.randomized-movie-header {
    font-size: 4rem;
}

.randomized-movie h3, h1 {
    color: white;
    font-family: "Staatliches";
    letter-spacing: 2px;
    text-align: center;
}

.randomized-movie p {
    color: white;
    font-family: "Ubuntu";
    letter-spacing: 2px;
    margin-top: 5px;
    text-transform: uppercase;
}

.randomized-movie {
    display: flex;
}

.read-more {
    border: 1px solid #8D0801;
    padding: 10px;
    font-family: 'Anton';
    border-radius: 10px;
    color: #8D0801;
    text-decoration: none;
}

    .read-more:hover {
        background: #8D0801;
        color: black;
    }


.randomized-movie-info {
    padding: 10%;
    text-align: center;
    margin: auto;
}
/* -------------------------*/


/* CSS FOR Searchbar */

#searchBar{
    color: white;
}

/* CSS FOR SEARCH INDEX 0 RESULT  */
.search-movie-header {
    font-size: 4rem;
}

.search-movies-container {
    margin: 10% 20% 0 20%
}

.search-index-0 {
    display: flex;
    background: #000000;
    opacity: 0.8;
}

.search-index-0-info {
    margin: auto;
    text-align: center;
    color: white;
    padding: 4%;
}
/*-----------------------------------*/
/* CSS FOR "OR DID YOU MEAN" SECTION*/
.search-or-did-you-mean {
    width: 70%;
    margin: auto;
}

.or-did-you-mean-header {
    color: white;
    font-family: "Staatliches";
    font-size: 3rem;
    text-align: center;
}

.search-or-did-you-mean-result {
    background: #000000;
    opacity: 0.8;
    display: flex;
    padding: 10px;
    border-bottom: 3px solid #8D0801;
}

.search-or-did-you-mean-result-info {
    text-align: center;
    margin: auto;
    color: white;
    font-family: "Staatliches";
    margin-bottom: 10px;
}

.search-or-did-you-mean img {
    width: 6vh;
}
