* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgb(244, 213, 141, 0.4), rgb(244, 213, 141)), url(../images/popcorn.png);
    background-position: center;
    overflow-x: hidden;
    position: relative;

}

header {
    display: flex;
    padding: 2%;
}
.container {
    
}

.links {
    margin-left: 70%;
}

    .links ul {
        display: flex;
        flex: 1;
        justify-content: right;
    }

        .links ul li {
            list-style: none;
            margin: 20%
        }

            .links ul li a {
                color: #8D0801;
                font-family: 'Anton', sans-serif;
                text-decoration: none;
                font-size: 200%;
            }



.start-search {
    margin: auto;
}

    .start-search h2 {
        color: #8D0801;
        font-family: 'Anton', sans-serif;
        text-align: center;
    }

    .start-search input {
        padding: 7%;
        border: 0px;
        border-radius: 5px;
    }

.search-result-index-0 {
    justify-content: center;
    display: flex;
}

    .search-result-index-0 img {
        max-width: 15%;
    }

.seach-result-index-0-info {
    padding: 5%;
}

.search-result-index-1-3 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    background: pink;
}

    .search-result-index-1-3 img {
        width: 50px;
        height: 80px;
    }

.search-result-index-1 {
    display: flex;
    padding: 4%;
}

.search-result-index-2 {
    display: flex;
    padding: 4%;
}

.search-result-index-3 {
    display: flex;
    padding: 4%;
}

.seach-result-index-1-3-info {
    text-align: center;
}

    .seach-result-index-1-3-info ul li {
        list-style: none;
        padding: 10px;
    }
