body {
    height: 100vh;
    background-image: url(../images/cinema.jpg);
    background-position: center;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
}

#imdb-logo {
    width: 25px;
    height: 15px;
    margin-right: 10px;
    margin-left: 10px; 
}

.carousel-sizing {
    width: 80%;
    height: 50%;
    margin: auto;
    background-image: url(../images/movieScroll.png), radial-gradient(#000, rgb(255, 255, 255, 0.2));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item img {
    height: 50vh;
    margin: auto;
    max-width: none;
}
    

    .carousel-background {
        background: black;
        opacity: 0.8;
        margin-bottom: 0px;
    }
    .carousel-background:hover  {
        opacity: 1;
        
    }

    .carousel-background h1:hover {
        text-decoration: underline;
    }

    .random-movie-details {
        display: flex;
        justify-content: space-evenly;
    }

.like-buttons-start {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
   
}

    .like-buttons-start button {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(141, 8, 1, 0.1);
        cursor: pointer;
        border: none;
        margin-top: 0;
        width: 150%;
        height: 200%;
    }

    .search-form {
        display: flex;
        width: 100%;
    }

    .like-buttons-start h1{
        margin-top: 50%;
    }

    .info-inline {
        display: inline-block;
    }

.read-more-start {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-top: 5%;
}

header {
    display: flex;
    padding: 1%;
}

.search-field-and-btn {
    justify-content: center;
    margin: auto !important;
    display: flex;
    flex: 1;
    position: relative;

}

#searchTable {
    z-index: 50;
    background: #313131;
    position: absolute;
    margin-top: 10%;
    width: auto !important;
}

#searchTable td a, #search-suggestion h3 {
    color: white;
    text-decoration: none;
    font-family: "Staatliches";
    letter-spacing: 2px;
}

#searchTable td a:hover {
    color: white;
    text-decoration: none;
}

.searchLink {
    display: block;
    z-index: 10;
}

    .searchLink:link {
        color: white;
        text-decoration: none;
        display: block;
    }

    .searchLink:any-link {
        color: white;
        text-decoration: none;
        display: block;
    }

#searchTable tr:hover {
    background: black;
    color: white;
}  



#searchTable img {
    width: 25px;
    height: 35px;
    
}

#suggestion-search {
    text-align: center;
    font-family: "Staatliches";
    font-size: 1.5rem;
    color: #8D0801;
    background: #808080
}



.search-field-and-btn input[type=text] {
    padding: 2% !important;
    border-radius: 20px;
    border: 0px;
    box-shadow: 4px;
    display: block;
    font-family: "Staatliches";
    letter-spacing: 1px;
    width: 80%;
    text-align: center;
    margin: auto;
}

    .search-field-and-btn input[type=text]:focus{
        outline: none;
    }

.search-field-and-btn button, #search-value-btn {
    background: transparent;
    border: 0px;
    font-family: 'Arial';
    color: #8D0801;
    font-weight: bold;
    background: none;
    cursor: pointer;
  
    padding: 0;
}

#search-value-btn {
    background: transparent;
    border: 0px;
    font-family: 'Staatliches';
    color: white;
    font-weight: bold;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
#suggestion-search h3{
    font-size: 1.5rem;
    font-family: 'Staatliches';
    white-space: pre;
}

.search-field-and-btn button:focus, #search-value-btn:focus {
    outline: none;
}

.short-plot {
   width: auto;
   text-align: center;
   overflow-wrap: break-word;

}


    .links {
        margin-left: 70%;
        justify-content: right;
        margin: auto;
        flex: 1;
        display: flex;
    }

.logo {
    justify-content: left;
    display: flex;
    flex: 1;
}

.links ul {
    display: flex;
    justify-content: right;
}

    .links ul li {
        list-style: none;
        margin: 20%
    }

        .links ul li a {
            color: #8D0801;
            font-family: 'Anton', sans-serif;
            text-decoration: none;
            font-size: 200%;
        }

li > a {
    color: #8D0801;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    font-size: 200%;
    position: relative;
}

    li > a:hover {
        color: #8D0801;
        font-family: 'Anton', sans-serif;
        text-decoration: none;
        font-size: 200%;
        position: relative;
    }

    li > a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #8D0801;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }

    li > a:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }

    

/*CSS FOR FULL MOVIE DETAIL*/

.single-movie-detail {
    display: block;
    margin: auto;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
}

.movie-detail-head {
    display: flex;
    flex-direction: column;
    position: relative;
}

.head-and-plot-block {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.single-movie-detail-text {
    opacity: 0.8;
    margin-left: 10px;
}

    .single-movie-detail-text h1 {
        font-family: "Anton", sans-serif;
    }

    .single-movie-detail-text ul {
        list-style: none;
        margin-left: 0;
        padding-top: 8%;
    }

        .single-movie-detail-text ul li {
            width: 100%;
            padding: 5px;
        }

    .single-movie-detail-text li, p, h3 {
        font-family: 'Arial';
    }

.single-movie-detail-img {
    height: 20%;
    display: flex;
    align-items: center;  
}

.image-and-text {
    display: flex;
}

td {
    padding: 6%;
}


.list-and-imdb-block {
    display: flex;
    align-items: center;
}

.rating {
    display: block;
    margin-left: 20%;
    justify-content: center;
    
}

.rating-logos, .rating-values {
    display: flex;
}


    .rating img {
        width: 4vw;
        flex: 1;
        
        margin: auto;  }

#img-cmbd-rating {
    text-align: center;
}
#cmdb-logo-cell {
    
    width: 4vw;
}

#cmdb-logo-cell img {
    margin: auto;
}







.rating h1 {
    font-size: 4rem;
}
.rating h2 {
    font-size: 4rem;
    font-family: Anton;
   
    
}

    .rating-left, .rating-right {
        display: block;
    }
.likes-dislikes-rating {
    display: flex;
    
}


.like-buttons-full-movie-detail {
    display: flex;
    flex-direction: row;
    color: white;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 0 3% 0 3%;
}

    .like-buttons-full-movie-detail button {
        border: none;
        background: none;
        cursor: pointer;
        margin: 10px;
        padding: 10%;
        outline: none;
    }

.plot {
    padding: 2%;
    
    
}

.rest-plot {
    display: inline-block;
}


.read-more {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 20%;
   
}
/*-----------------------------------*/
/*CSS FOR RANDOMIZED MOVIES */
.randomized-movies-container {
    justify-content: center;
    text-align: center;
    display: flex;
    background: #000000;
    opacity: 0.8;
    margin: 10% 20% 0 20%
}

    .randomized-movies-container img {
        height: 100%;
    }

.randomized-movie-header {
    font-size: 4rem;
}

.randomized-movie h3, h1 {
    color: white;
    font-family: "Staatliches";
    letter-spacing: 2px;
    text-align: center;
}

.randomized-movie p {
    color: white;
    font-family: "Ubuntu";
    letter-spacing: 2px;
    margin-top: 5px;
    text-transform: uppercase;
}

.randomized-movie {
    display: flex;
}

.read-more {
    border: 1px solid #8D0801;
    padding: 10px;
    font-family: 'Anton';
    border-radius: 10px;
    color: #8D0801;
    text-decoration: none;
    width: 8vw;
    margin-bottom: 2%;
}

    .read-more:hover {
        background: #8D0801;
        color: black;
    }


.randomized-movie-info {
    padding: 10%;
    text-align: center;
    margin: auto;
}
/* -------------------------*/


/* CSS FOR Searchbar */

#searchBar {
    color: white;
}

/* CSS FOR SEARCH INDEX 0 RESULT  */
.search-movie-header {
    font-size: 4rem;
}

.search-movies-container {
   
}

.search-index-0 {
    display: flex;
    background: #000000;
    opacity: 0.8;
}

.search-index-0-info {
    margin: auto;
    text-align: center;
    color: white;
    padding: 4%;
}
/*-----------------------------------*/
/* CSS FOR "OR DID YOU MEAN" SECTION*/
.search-or-did-you-mean {
    width: 100%;
   

    display: flex;
    flex-direction: column;
    
 
}

.or-did-you-mean-header {
    color: white;
    font-family: "Staatliches";
    font-size: 3rem;
    text-align: center;
}

.search-or-did-you-mean-result {
    background: #000000;
    opacity: 0.8;
    display: flex;
    height: 80%;
    margin-top: 1%;
    border-bottom: 3px solid #8D0801;
}

.search-or-did-you-mean-result-info {
    text-align: center;
    margin: auto;
    color: white;
    font-family: "Staatliches";
    margin-bottom: 10px;
    word-wrap: break-word;
    padding: 3%;
}

.search-or-did-you-mean img {
    width: 6vw;
}

/* CSS FOR TOPLIST */

.ranking0 {
    width: 5vw;
    height: 5vw;
    line-height: 5vw;
    border-radius: 50%;
    text-align: center;
    background: #8D0801;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 5vw;
} 
.ranking0 h2{
    line-height: 5vw;
    text-align: center;
    color: white;
    font-size: 5vw;
}
.ranking {
    width: 5vw;
    height: 5vw;
    line-height: 5vw;
    border-radius: 50%;
    text-align: center;
    background: #8D0801;
    color: white;
    font-size: 5vw;
    position: absolute;
}

.ranking h2 {
    line-height: 5vw;
    text-align: center;
    color: white;
    font-size: 5vw;
}

.top-list-index-1-3-container {
    display: table;
    background-color: rgb(0, 0, 0, 0.9);
    width: 100%;
    text-align: center;
    color: white;
}

.top-list-column {
    display: table-cell;
    padding: 16px;
    width: 33%;
}

.top-list-row {
    display: table-row;
}

.like-buttons-top-list-1-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .like-buttons-top-list-1-3 button, .like-buttons-top-list-1-3 img {
        width: 5vw;
        cursor: pointer;
        background: none;
        max-height: 7vw;
        border: none;
        padding: 0px 1% 0px 1%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .like-buttons-top-list-1-3 h1 {
        margin: 3%;
    }

#SelectedList {
    width: 33vw;
    background-color: #000;
    color: #fff;
    font-family: 'Staatliches';
    height: 7vh;
}

select {
    border-color: #8D0801;
}

#dropDownList{
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .image-and-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid #313131;
        padding: 1%;
    }

    .single-movie-detail-img {
        margin: auto;
    }
    .single-movie-detail-ul {
        display: flex;
        border-bottom: 1px solid #313131;
        padding: 1%;
    }
    .single-movie-detail-ul li {
        flex: 1;
    }
    .list-and-imdb-block {
        display: flex;
        flex-direction:column;
        margin-left: 0;
        padding: 1%;

    }

    .list-and-imdb-block img {
       
    }

    .rating {
        justify-content: center;
        margin-left: 0;
        margin-top: 2%;
        border-bottom: 1px solid #313131
    }

    .like-buttons-full-movie-detail {
        padding: 0;
        justify-content: center;
    }

    .top-list-index-1-3-container, .top-list-row {
        display: flex;
        flex-direction: column;
    }

    .top-list-column {
        display: flex;
        flex-direction: column;
    }

    .top-list-index-1-3-container {
        display: block;
    }

    .hamburger {
        display: flex;
        color: white;
    }

    .hamburger-inner, .hamburger, .hamburger-box {
        color: white;
        background-color: white;
    }

    .links {
        display: none;
    }
}




@media only screen and (min-width: 700px) {
    .carousel-item img {
        height: 50vh;
        margin: auto;
        max-width: 15vw;
    }

}
